.UnitSelection__UnitList {
   width: 75%;
   height: 100%;
   margin: 5px;
   margin-left: 0px;
   padding:5px;
   padding-top: 0px;
   float: left;
   overflow: hidden;
   border: 1px solid rgb(6, 86, 87);
   border-radius: 5px;
   box-shadow: 1px 1px 2px rgb(163, 173, 173);
}

.UnitSelection__RolesList {
    width: 15%;
    height: 75%;
    overflow: hidden;
    position: fixed;
    right: 1.8%;
    top: 10.3%;
    
}

.UnitSelection__Header {
    text-align: center;
    background-color: rgb(6, 86, 87);
    color: white;
    vertical-align: middle;
    padding: 10px;
    margin: 1px;
    margin-top: 2px;
    border: 2px solid rgb(6, 86, 87);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
    text-shadow: 0px 0px 2px white;
}

.UnitSelection__ToTopButton {
    bottom: 6%;
    background-color: rgb(6, 86, 87);
    position: fixed;
    right: 6.5%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
    border-color: rgb(6, 86, 87);
    transition: 0.3s;
    user-select: none;
}
/*
.UnitSelection__ToTopButton:hover {
    background-color: rgb(7, 109, 110); 
    box-shadow: inset 1px 1px 3px 4px rgb(5, 64, 65);
}
*/
.UnitSelection__ToTopButton:active {
    box-shadow: inset 1px 1px 3px 4px rgb(5, 64, 65);
}

.UnitSelection__ToTop {
    margin: auto;
    width: 50px;
    height: auto;
}

.UnitSelection__HideButton {
    opacity: 0;
}