.UnitSelection__UnitList {
   width: 75%;
   height: 100%;
   float: left;
   overflow: hidden;
}

.UnitSelection__RolesList {
    width: 20%;
    height: 75%;
    overflow: hidden;
    position: fixed;
    left: 78.5%;
    top: 10.7%;
}

.UnitSelection__Header {
    text-align: center;
    background-color: rgb(6, 41, 34);
    color: white;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(20, 126, 105);
    border-radius: 5px;
}

.UnitSelection__SelectionArea {
    
}