.unitModels__Container {
    border: 1px solid rgb(6, 41, 34);
    border-radius:5px;
}

.unitModels__Title {
    color: white;
    font-size: 20px;
    margin:5px;
    padding:5px;
    background-color: rgba(6, 86, 87, 1);
    border-radius:5px;
}

.unitModels__List {
    margin: 0px;
    padding-left: 20px;
    margin-bottom: 5px;
}