.unitModels__list {
    border: 2px solid;
    border-color: rgba(21, 156, 122, 0.650);
    border-radius: 10px;
    background-color: rgba(21, 156, 122, 0.150);
    width: 350px;
    padding-left: 10px;
    padding-right:10px;
}