.Header__profile_block {
    margin: 0px;
    height: 60px;
    overflow: hidden;
    display:flex;
    align-items: center;
    align-self: center;
    padding-right: 20px;
}

p {
    color: white;
    font-family: "Times New Roman", fantasy;
    font-size: 20px;
    padding-top: 5px;
    margin-right: 20px;
}

.Header__profile_div {
    
    
    overflow: auto;
    margin: 0 auto;
    padding:0px;
    
}

.ProfileButton,
.ProfileButton:focus {
    
    background-color: rgb(6, 41, 34);
    color: white;
    padding:20px;
    padding-top:10px;
    padding-bottom:10px;
    border: 0px;
    border-radius:0px;
    font-family: "Times New Roman", fantasy;
    box-shadow: none;
    outline: none;
    height: 40px;
    font-size: 20px;
}

.ProfileButton:hover {
    background-color: rgb(6, 86, 87);
    border-color: rgb(6, 86, 87);
    outline: none;
    background: rgb(6, 86, 87);
    box-shadow: none;
    text-shadow: 0px 0px 3px white;
}
 
.ProfileButton:active {
    border-color: rgb(39, 193, 196);
    transition: 0.5s;
}

.ProfileButton__button_div {
    
    overflow: auto;
    margin: 0 auto;
    padding:0px;
}

