.WargearSelection__Component {
    border: 1px solid rgb(6, 41, 34);
    border-radius:5px;
}

.WargearElement__Component {
    display: inline-block;
    width: 25%;
}

.WargearSelection__Title {
    color: rgba(6, 86, 87, 1);
    font-size: 20px;
    margin:5px;
    padding:5px;
}