.WargearSelection__Component {
    border: 1px solid rgb(6, 41, 34);
    border-radius:5px;
    box-shadow: 1px 1px 2px rgb(163, 173, 173);
}

.WargearSelection__List {
    padding: 10px;
    margin: 5px;
}

.WargearSelection__Title {
    color: white;
    font-size: 20px;
    margin:5px;
    padding:5px;
    background-color: rgba(6, 86, 87, 1);
    border-radius:5px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
}