.image {
   width: 60%;
   height: auto;
   display: block;
   margin:0 auto;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
.image_center {
    position: relative;
    width: 200px;
    height: 200px;
    
}

.UsefulLinksBody {
    position: relative;
    
}

.link {
    
    float: left;
    
    
    overflow: auto;
}
