

.WorkingArea_Body {
    height:calc(100vh - 60px);
    overflow: auto;
    margin: 0px;
    background-color: white;
    
    /*background-image: url("../../Data/Pictures/BackGroundImage.png");*/
    border-radius: 1px;
}