html {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
  margin:0px;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}

#root {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}

.MainClass {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}
