.RosterMenu {
    
    width: 20%;
    min-width: 200px;
    height:100%;
    float: left;
}

.RosterMenu__ButtonImage{
    height:auto;
    width:15px;
    margin:1px;
}

.RosterMenu__ButtonImage:hover{
    box-shadow: 0px 0px 3px white;
    width:13px;
    margin:0px;
    padding:2px;
}

.RosterMenu__ButtonImage:active{
    box-shadow: 0px 0px 3px white;
    width:11px;
    margin:0px;
    padding:2px;
    border: 1px solid white;
}

.RosterMenu__HeaderDiv {
    border: 1px solid rgb(6, 86, 87);
    border-radius: 5px;
    margin:5px;
    padding: 3px;
    height: 134px;
    box-shadow: 1px 1px 2px rgb(163, 173, 173);
}

.RosterMenu__HeaderDiv p{
    color: rgb(6, 86, 87);
    background-color: white;
    padding: 5px;
}

.RosterMenu__HeaderNameDiv {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgb(6, 86, 87);
    border: 1px solid rgb(6, 86, 87);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
    text-shadow: 0px 0px 1px white;
}

.RosterMenu__HeaderName {
    margin:5px;
    padding: 5px;
    left: 0px;
}

.RosterMenu__HeaderNameDiv .RosterMenu__ButtonImage {
    right: 5px;
    float: right;
    
}

.RosterMenu__RosterParameters {
    font-size: 19px;
    text-shadow: 0.25px 0.25px 1px rgb(108, 159, 160);
}

.RosterMenu__DetachmentList {
    border: 1px solid rgb(6, 86, 87);
    border-radius: 5px;
    margin: 0px;
    margin-left:5px;
    margin-right: 5px;
    margin-bottom:5px;
    padding: 5px;
    list-style-type: none;
    font-size: 16px;
    user-select: none;
    box-shadow: 1px 1px 2px rgb(163, 173, 173);
}

.RosterMenu__DetachmentListItem {
    transition: 0.3s;
    margin:2px;
    padding:5px;
    border: 1px solid rgb(6, 86, 87);
    border-radius: 5px;
    color: white;
    background-color: rgb(6, 86, 87);
    text-align: left;
    vertical-align: middle;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
}

.RosterMenu__ButtonBlock {
    text-align: center;
    vertical-align: bottom;
    width:25%;
    min-width: 52px;
    display: inline-block;
    margin:0px;
    margin-top: 2px;
}

.RosterMenu__DetachmentListNewButton {
    
    transition: 0.3s;
    margin:2px;
    padding:5px;
    border: 1.4px solid rgb(236, 52, 46);
    border-radius: 5px;
    color: rgb(236, 52, 46);
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    box-shadow: 0px 0px 3px rgb(223, 105, 101), 0px 0px 5px rgb(233, 153, 150), 0px 0px 7px rgb(245, 196, 195);
}

.RosterMenu__DetachmentListNewButton:hover {
    transition: 0.1s;
    text-shadow: 0px 0px 1px rgb(223, 105, 101);
    border: 1.5px solid rgb(236, 52, 46);
    margin:2px;
    padding:5px;
}

.RosterMenu__DetachmentListNewButton:active {
    border: 2px solid rgb(236, 52, 46);
    box-shadow: 0px 0px 5px rgb(223, 105, 101), 0px 0px 7px rgb(233, 153, 150), 0px 0px 9px rgb(245, 196, 195);
    margin: 0.5px;
}

.RosterMenu__UnitListNewButton {
    
    transition: 0.3s;
    margin:2px;
    padding:2px;
    border: 1.4px solid rgb(236, 52, 46);
    border-radius: 5px;
    color: rgb(236, 52, 46);
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0px 0px 3px rgb(223, 105, 101), 0px 0px 5px rgb(233, 153, 150), 0px 0px 7px rgb(245, 196, 195);
}

.RosterMenu__UnitListNewButton:hover {
    transition: 0.1s;
    text-shadow: 0px 0px 1px rgb(223, 105, 101);
    border: 1.5px solid rgb(236, 52, 46);
    margin:1.2px;
}

.RosterMenu__UnitListNewButton:active {
    margin:0.5px;
    border: 2px solid rgb(236, 52, 46);
    box-shadow: 0px 0px 5px rgb(223, 105, 101), 0px 0px 7px rgb(233, 153, 150), 0px 0px 9px rgb(245, 196, 195);
    text-shadow: 0px 0px 1px rgb(223, 105, 101);
}

.RosterMenu__RoleCategory {
    margin:2px;
    padding:5px;
    border: 1px solid rgb(6, 86, 87);
    border-radius: 5px;
    color: rgb(6, 86, 87);
    background-color: white;
    text-align: left;
    vertical-align: middle;
    box-shadow: 1px 1px 1px rgb(153, 185, 185);
    font-size: 14px;
}

.RosterMenu__DetachmentRolesList {
    margin: 0px;
    margin-right:0px;
    margin-bottom:5px;
    padding: 5px;
    padding-right: 0px;
    list-style-type: none;
    user-select: none;
}

.RosterMenu__DetachmentUnitsList {
    margin: 0px;
    margin-right:0px;
    margin-bottom:5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 2px;
    list-style-type: none;
    user-select: none;
}

.RosterMenu__UnitItem {
    margin:2px;
    margin-right:0px;
    padding:5px;
    border: 1px solid rgb(6, 86, 87);
    border-radius: 5px;
    color: white;
    background-color: rgb(6, 86, 87);
    text-align: left;
    transition:0.3s;
    font-size: 14px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
    overflow: auto;
    word-break: break-all;
}

.RosterMenu__UnitItem:hover {
    text-shadow: 0px 0px 1px white;
    box-shadow: 0px 0px 4px rgb(36, 190, 196), 0px 0px 8px rgb(99, 233, 238);
    
}

.ActiveBrightning {
    border: 3px solid rgb(28, 196, 199);
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(33, 184, 187), 0px 0px 7px rgb(14, 203, 206), 0px 0px 10px rgb(165, 247, 248);
    text-shadow: 0px 0px 2px white;
}

.RosterMenu__UnitItemName {
    width: 75%;
    min-width: 140px;
    word-break: break-all;
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
}