.WargearElement__Title {
    color: rgba(6, 86, 87, 1);
    font-size: 18px;
    margin:5px;
    padding:5px;
}

.WargearElement__Select {
    
    width: 80%;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 5px;
    scrollbar-width: 2px; 
    box-shadow: none;
    padding:5px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color:rgb(6, 86, 87);
}

.WargearElement__Option {
    margin:5px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color:white;
}


.WargearElement__Option:hover,
.WargearElement__Option:focus,
.WargearElement__Option:active{
    background-color:rgb(6, 86, 87);
    color:white;
}