.DetachmentEditing {
    margin: 5px;
    margin-left: 0px;
    padding:2px;
    text-align: center;
    z-index:0;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(163, 173, 173);
}

.DetachmentEditing__Transition-appear {
    opacity: 0.01;
}

.DetachmentEditing__Transition-appear-active {
    opacity: 1;
    transition: 0.3s linear;
}

.DetachmentEditing__Transition-enter {
    opacity: 0.01;
}

.DetachmentEditing__Transition-enter-active {
    opacity: 1;
    transition: 0.3s linear;
}

.DetachmentEditing__Transition-leave {
    opacity: 1;
}

.DetachmentEditing__Transition-leave-active {
    opacity: 0.01;
    transition: 0.3s linear;
}

.DetachmentEditing__Header {
    border: 2px solid;
    border-color: rgb(6, 86, 87);
    color: white;
    background-color: rgb(6, 86, 87);
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    margin:0px;
    padding:5px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
    text-shadow: 0px 0px 2px white;
}

.DetachmentEditing__Button {
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 5px;
    background-color: rgb(6, 86, 87);
    color: white;
    margin:2px;
    margin-left: 15px;
    font-size: 16px;
    padding: 5px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
}

.DetachmentEditing__Button:hover {
    border-color: rgb(39, 193, 196);
    background-color: rgb(7, 119, 121);
    transition: 0.2s;
}

.DetachmentEditing__Button:active {
    border-color: rgb(39, 193, 196);
    background-color: rgb(7, 166, 168);
    transition: 0.2s;
    box-shadow: inset 0.5px 0.5px 1px 2px rgb(9, 105, 107);
}

.DetachmentEditing__ChosenFactionLabel{
    color: rgb(6, 86, 87);
    
    font-size: 20px;
    
}

.DetachmentEditing__ChosenFactionTitle{
    background-color: white;
    color: rgb(6, 86, 87);
    padding-left:2px;
    padding-right:2px;
    box-shadow: 1px 1px 2px rgb(163, 173, 173);
    font-size: 20px solid;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    border-color: rgb(6, 86, 87);
    vertical-align: middle;
    font-weight: 700;
}

.DetachmentEditing__SelectDiv {
    vertical-align: top;
    padding: 15px;
    margin: 15px;
    width:270px;
}

.DetachmentEditing__MiddleDiv {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
    text-align: center;
    height: 230px;
    width: 400px;
    
}

.DetachmentEditing__FactionDiv {
    display: inline-block;
    
    padding:10px;
    height: 230px;
    margin:10px;
    margin-bottom: 5px;
    vertical-align: middle;
    width:400px;
    overflow: auto;
    
}

.DetachmentEditing__SelectLabel {
    font-size: 20px;
    color: rgb(6, 86, 87);
    margin:5px;
    padding:5px;
}

.DetachmentEditing__Select {
    
    width: 80%;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 5px;
    scrollbar-width: 2px;
    padding:5px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color:rgb(6, 86, 87);
    box-shadow: 1px 1px 2px rgb(163, 173, 173);
}

.DetachmentEditing__Option {
    margin:5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color:white;
}


.DetachmentEditing__Option:hover,
.DetachmentEditing__Option:focus,
.DetachmentEditing__Option:active{
    background-color:rgb(6, 86, 87);
    color:white;
}

.DetachmentEditing__FactionImage {
    height: 100px;
    width: auto;
    margin: 10px;
    
}

.DetachmentEditing__CurrentFaction {
    margin:0px;
    padding: 0px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    vertical-align: middle;
    overflow: auto;
    
}

.DetachmentEditing__CurrentFaction p{
    color: rgb(6, 86, 87); 
    font-size: 20px; 
    display:inline; 
    margin:5px; 
    padding:5px;
    vertical-align: middle;
    text-align: center;
}

.DetachmentEditing__FactionSelectionWindow {
    background: white;
    height: 60%;
    width:auto;
    border: 2px solid rgb(6, 86, 87);
    border-radius: 5px;
    margin:5%;
    margin-right: 10%;
    margin-left: 10%;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgb(108, 159, 160);
}

.DetachmentEditing__FactionSelectionWindow_Header {
    border: 2px solid;
    border-color: rgb(6, 86, 87);
    color: white;
    background-color: rgb(6, 86, 87);
    vertical-align: middle;
    text-align: center;
    margin:0px;
    padding:5px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
    text-shadow:0px 0px 2px white;
}

.DetachmentEditing__FactionSelectionWindow_CloseButton {
    right:0%;
    top:0%;
    position: absolute;
    float: right;
    margin:0px;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    color: white;
    background-color: rgb(6, 86, 87);
    font-size: 20px;
    font-weight: 700;
    padding: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.DetachmentEditing__FactionSelectionWindow_CloseButton:hover {
    border-color: rgb(7, 119, 121);
    background-color: rgb(7, 119, 121);
    transition: 0.2s;
    box-shadow: 1px 1px 2px rgb(6, 86, 87);
}

.DetachmentEditing__FactionSelectionWindow_CloseButton:active {
    border-color: rgb(7, 119, 121);
    background-color: rgb(7, 166, 168);
    transition: 0.2s;
    box-shadow: inset 0.5px 0.5px 1px 2px rgb(5, 64, 65);
}

.DetachmentEditing__DetachmentImageFigure {
    width: 740px;
    margin: auto;
    margin-top: 0px;
    padding: 0px;
    padding-top: 14px;
    padding-bottom: 9px;
    
    border-radius: 30px;
    background-color: rgb(6, 86, 87);
    box-shadow: inset 1px 1px 3px 4px rgb(5, 64, 65), 1px 1px 2px rgb(108, 159, 160);;
}

.DetachmentEditing__DetachmentImage {
    height: 96%;
    width: auto;
    margin:0px;
    max-height: 320px;
    max-width: 720px;
}