.MainMenu__Body {
    background-color: rgb(6, 41, 34);
    color: white;
    height: 90.1%;
    width: 15%;
    float: left;
    top: 10%;
    margin: 0px;
    
    
}
.MainMenu__Categories_list {
    padding-left: 0px;
    margin:0px;
}

.MainMenu__Categories {
    list-style-type: none;
    background-color: rgb(17, 112, 93);
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid rgb(6,86,87);
    border-radius: 5px;
    position: relative;
    left: 0px;
    user-select: none;
    margin:1px;
    margin-left: 2px;
    margin-right:2px;
    text-align: center;
    box-shadow: 1px 1px 1px rgb(48, 71, 71);
}

.MainMenu__Categories:hover {
    list-style-type: none;
    background-color: rgb(19, 138, 114);
    transition: 0.5s;
}

.MainMenu__Categories:active {
    list-style-type: none;
    /*background-color: rgb(21, 156, 129);*/
    transition: 0.5s;
    border-color: rgb(20, 148, 122);
    box-shadow: inset 3px 2px 5px 2px rgb(6, 86, 87);
}

.MainMenu__ButtonsBlock-appear {
    opacity: 0.1;
    max-height: 0px;
    overflow: hidden;
}

.MainMenu__ButtonsBlock-appear .MainMenu__ButtonsBlock-appear-active{
    opacity: 1;
    max-height: 9999px;
    overflow: auto;
    transition: 500ms linear;
    background-color: rgb(6, 41, 34);
    margin: auto;
    padding-left: 10px;
}

.MainMenu__ButtonsBlock-enter {
    opacity: 0.1;
    max-height: 0px;
    overflow: hidden;
}

.MainMenu__ButtonsBlock-enter .MainMenu__ButtonsBlock-enter-active{
    opacity: 1;
    max-height: 9999;
    overflow: auto;
    transition: 0.5s linear;
    background-color: rgb(6, 41, 34);
    margin: auto;
    padding-left: 10px;
}

.MainMenu__ButtonsBlock-leave {
    opacity: 1;
    max-height: 9999;
    overflow: auto;
    transition: 0.5s linear;
    background-color: rgb(6, 41, 34);
    margin: auto;
    padding-left: 10px;
}

.MainMenu__ButtonsBlock-leave .MainMenu__ButtonsBlock-leave-active{
    opacity: 0.1;
    max-height: 0px;
    overflow: hidden;
}
/*
.MainMenu__Buttons {
    height: auto;
    list-style-type: none;
    background-color: rgb(6, 41, 34);
    margin: auto;
    padding-left: 10px;
}
*/

