.FactionGraphicList__Cell {
    height: 10%;
    width:100px;
    border: 1px solid rgb(6, 86, 87);
    color: white;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.FactionGraphicList__Image {
    height: 100px;
    width: auto;
    margin:3px;
}

.FactionGraphicList__Fig {
    text-align: center;
    display: block;
    margin: 0px;
}

.FactionGraphicList__Title {
    border: 1px solid rgb(6, 86, 87);
    color: white;
    background-color: rgb(6, 86, 87);
    border-radius: 5px;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
}