.FactionGraphicList__Cell {
    height: 10%;
    width:100px;
    border: 1px solid rgb(6, 86, 87);
    color: white;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px 2px rgb(163, 173, 173);
    transition: 0.08s;
}

.FactionGraphicList__Cell:active {
    height: 10%;
    width:100px;
    border: 1px solid rgb(6, 86, 87);
    color: white;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: inset 2px 2px 3px 5px rgb(163, 173, 173), 1px 1px 2px rgb(163, 173, 173);
    margin-bottom:0px;
}

.FactionGraphicList__Image {
    height: 100px;
    width: auto;
    margin:3px;
    transition: 0.08s;
}

.FactionGraphicList__Cell:active .FactionGraphicList__Image {
    margin-top: 5px;
    margin-bottom:0px;
}

.FactionGraphicList__Fig {
    text-align: center;
    display: block;
    margin: 0px;
}

.FactionGraphicList__Title {
    border: 1px solid rgb(6, 86, 87);
    color: white;
    background-color: rgb(6, 86, 87);
    border-radius: 5px;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
    box-shadow: 1px 1px 2px rgb(108, 159, 160);
    transition: 0.08s;
}

.FactionGraphicList__Cell:active .FactionGraphicList__Title {
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: inset 2px 0px 2px rgb(5, 59, 61);
    padding-bottom: 0px;
}