.UnitEditing__Common {
    width: auto;

}

.UnitEditing__ModelsContainer {
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
    width: 35%;
}

.UnitEditing__ModelsList {
    vertical-align: top;
    display: block;
    width: auto;
    margin-bottom: 5px;
}

.UnitEditing__AddNewModel {
    display: block;
    width: auto;

}

.UnitEditing__WargearSelection {
    display: inline-block;
    width: 64.3%;

}