.UnitEditing__Common {
    width: auto;
    margin: 3px;
}

.UnitEditing__ModelsContainer {
    vertical-align: top;
    display: inline-block;
    width: 35%;
}

.UnitEditing__ModelsList {
    vertical-align: top;
    display: block;
    width: auto;
}

.UnitEditing__AddNewModel {
    display: block;
    width: auto;
    margin-top:3px;
}

.UnitEditing__WargearSelection {
    display: inline-block;
    width: 64%;
    margin-left: 5px;
}