.EditUnitPsychicPowers {
    
    vertical-align: middle;
    text-align: center;
    border: 1px solid;
    margin:10px;
    border-color: rgb(6, 86, 87);
    border-radius: 5px;
    padding:0px;
}

.EditUnitPsychicPowers__Header {
    background-color: rgb(6, 86, 87);
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid;
    margin:0px;
    padding:3px;
    color:white;
}

.EditUnitPsychicPowers__ChoiceDiv {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding:10px;
    margin:10px;
    display: inline-block;
}

.EditUnitPsychicPowers__ButtonsDiv {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


.EditUnitPsychicPowers__Button {
    display: block;
    margin: auto;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 2px;
    background-color: rgb(6, 86, 87);
    color: white;
    margin:2px;
}
.EditUnitPsychicPowers__Button:hover {
    border-color: rgb(39, 193, 196);
    background-color: rgb(7, 119, 121);
    transition: 0.2s;
}

.EditUnitPsychicPowers__Button:active {
    border-color: rgb(39, 193, 196);
    background-color: rgb(7, 166, 168);
    transition: 0.2s;
}

.EditUnitPsychicPowers__Button_Locked {
    display: block;
    margin: auto;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 2px;
    background-color: rgb(6, 86, 87);
    color: white;
    margin:2px;
    opacity: 0.5;
}

.EditUnitPsychicPowers__Select,
.EditUnitPsychicPowers__Select:focus {
    margin:5px;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 3px;
    scrollbar-width: 2px; 
    box-shadow: none;
    height:190px;
   
}

.EditUnitPsychicPowers__Option {
    padding: 5px;
    color: rgb(6, 86, 87);
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 5px;
    margin-left: 17px;
    margin-bottom: 2px;
    margin-top:2px;
}

.EditUnitPsychicPowers__Option:hover {
    background-color: rgb(215, 251, 252);
}

.EditUnitPsychicPowers__Option:active {
    background-color: rgb(215, 251, 252);
}

.EditUnitPsychicPowers__Option:checked,
.EditUnitPsychicPowers__Option:focus {
    background-color: rgb(215, 251, 252);
    box-shadow: none;
}





.EditUnitPsychicPowers__Label {
    font-size: 16px;
    padding:10px;
    margin:5px;
    border: 1px solid;
    border-color: rgb(6, 86, 87);
    border-radius: 5px;
    background-color: rgb(6, 86, 87);
    width: 175px;
    color: white;
}