.HeaderBox {
    position: fixed;
}

.MainMenuBox {
    
    height: 100;
    width: 20;
    float: left;
}

.WarhammerPortal_Middle {
    top:0px;
    bottom:0px;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

